Profile.md
Modulo1/Numpy Resumen.webp
Modulo1/Pandas_Cheat_Sheet.pdf
Modulo1/Clase 01/conversion-de-decimal-a-binario.pdf
Modulo1/Clase 01/Homework Resuelto - Paula.ipynb
Modulo1/Clase 01/Homework_clase1_resuelto.ipynb
Modulo1/Clase 01/Homework.ipynb
Modulo1/Clase 01/lenguajes.JPG
Modulo1/Clase 01/README.json
Modulo1/Clase 01/README.md
Modulo1/Clase 02/Clase 02 - M1.pdf
Modulo1/Clase 02/Emisiones_CO2.csv
Modulo1/Clase 02/emisiones.csv
Modulo1/Clase 02/Homework Resuelto.ipynb
Modulo1/Clase 02/Homework_clase2_resuelto.ipynb
Modulo1/Clase 02/Homework.ipynb
Modulo1/Clase 02/README.json
Modulo1/Clase 02/README.md
Modulo1/Clase 03/Clase 03 - M1.pdf
Modulo1/Clase 03/Clase3_100_Numpy_exercises.ipynb
Modulo1/Clase 03/Clase3_101_Numpy_exercises.ipynb
Modulo1/Clase 03/Homework_clase3_resuelto.ipynb
Modulo1/Clase 03/Homework.ipynb
Modulo1/Clase 03/README.json
Modulo1/Clase 03/README.md
Modulo1/Clase 04/Clase 04 - M1.pdf
Modulo1/Clase 04/colesterol.csv
Modulo1/Clase 04/colesterol.csv.bak
Modulo1/Clase 04/colesterol.xlsx
Modulo1/Clase 04/fifa-statistics.csv
Modulo1/Clase 04/Homework_04_1.ipynb
Modulo1/Clase 04/Homework_04_2.ipynb
Modulo1/Clase 04/Homework_04_3.ipynb
Modulo1/Clase 04/Homework_04_4.ipynb
Modulo1/Clase 04/Homework_bonus.txt
Modulo1/Clase 04/hospitales2.csv
Modulo1/Clase 04/jugadores_clase.csv
Modulo1/Clase 04/jugadores.xlsx
Modulo1/Clase 04/practica_pandas.ipynb
Modulo1/Clase 04/README.json
Modulo1/Clase 04/README.md
Modulo1/Clase 04/Titanic.csv
Modulo1/Clase 04/wine_reviews.csv
Modulo1/Clase 04/Resuelto_clase/homework_clase04_resuelto.ipynb
Modulo1/Clase 04/Resuelto_clase/hospitales_salida.csv
Modulo1/Clase 04/Resuelto_clase/hospitales_salida2.csv
Modulo1/Clase 04/Resuelto_clase/HOSPITALES2CHEO
Modulo1/Clase 04/Resuelto_clase/HOSPITALES2CHEO.ipynb
Modulo1/Clase 04/Resuelto_clase/mapa.html
Modulo1/Clase 05/Clase 05 -M1.pdf
Modulo1/Clase 05/Homework_05 - Resuelto.ipynb
Modulo1/Clase 05/Homework_05.ipynb
Modulo1/Clase 05/Juego_Jarras.png
Modulo1/Clase 05/README.json
Modulo1/Clase 05/README.md
Modulo1/Clase 06/Clase 06 - M1.pdf
Modulo1/Clase 06/Emisiones_CO2.csv
Modulo1/Clase 06/Homework_06 Resuelto.ipynb
Modulo1/Clase 06/Homework_06.ipynb
Modulo1/Clase 06/Lista.ipynb
Modulo1/Clase 06/README.json
Modulo1/Clase 06/README.md
Modulo1/Clase 07/Clase 07 - M1.pdf
Modulo1/Clase 07/Homework_07 Resuelto.ipynb
Modulo1/Clase 07/Homework_07.ipynb
Modulo1/Clase 07/README.json
Modulo1/Clase 07/README.md
Modulo1/Clase 08/Clase 08 - M1.pdf
Modulo1/Clase 08/Homework_08 - Resuelto.ipynb
Modulo1/Clase 08/Homework_08.ipynb
Modulo1/Clase 08/README.json
Modulo1/Clase 08/README.md
Modulo1/Clase 09/Clase 09 - M1.pdf
Modulo1/Clase 09/grafos_ejemplo.jpg
Modulo1/Clase 09/Homework_09 Resuelto.ipynb
Modulo1/Clase 09/Homework_09.ipynb
Modulo1/Clase 09/README.json
Modulo1/Clase 09/README.md
Modulo1/_src/assets/1.png
Modulo1/_src/assets/2.png
Modulo1/_src/assets/00-IntroToCS/alan-turing.jpg
Modulo1/_src/assets/00-IntroToCS/AND.png
Modulo1/_src/assets/00-IntroToCS/arquitectura-neumann.png
Modulo1/_src/assets/00-IntroToCS/ascii.png
Modulo1/_src/assets/00-IntroToCS/assembly.png
Modulo1/_src/assets/00-IntroToCS/binario.png
Modulo1/_src/assets/00-IntroToCS/busqueda-binaria.png
Modulo1/_src/assets/00-IntroToCS/church_alonzo.jpg
Modulo1/_src/assets/00-IntroToCS/compilation.png
Modulo1/_src/assets/00-IntroToCS/computador-cuantico.png
Modulo1/_src/assets/00-IntroToCS/computadora-griega.jpg
Modulo1/_src/assets/00-IntroToCS/dennis-ritchie.jpg
Modulo1/_src/assets/00-IntroToCS/eniac.jpg
Modulo1/_src/assets/00-IntroToCS/feynman.jpeg
Modulo1/_src/assets/00-IntroToCS/floating.png
Modulo1/_src/assets/00-IntroToCS/Grace-Murray-Hopper.jpg
Modulo1/_src/assets/00-IntroToCS/i747decimal.png
Modulo1/_src/assets/00-IntroToCS/ie747.png
Modulo1/_src/assets/00-IntroToCS/lovelace.jpg
Modulo1/_src/assets/00-IntroToCS/maquina-tabuladora.jpg
Modulo1/_src/assets/00-IntroToCS/microchips.jpg
Modulo1/_src/assets/00-IntroToCS/motor-babbage.jpg
Modulo1/_src/assets/00-IntroToCS/negativo.png
Modulo1/_src/assets/00-IntroToCS/neumann-edvac.jpeg
Modulo1/_src/assets/00-IntroToCS/nube.jpg
Modulo1/_src/assets/00-IntroToCS/oblea-silicio.jpg
Modulo1/_src/assets/00-IntroToCS/operador-logico.png
Modulo1/_src/assets/00-IntroToCS/OR.png
Modulo1/_src/assets/00-IntroToCS/python.png
Modulo1/_src/assets/00-IntroToCS/reserved-words-python.png
Modulo1/_src/assets/00-IntroToCS/Telar-de-Jacquard.jpg
Modulo1/_src/assets/00-IntroToCS/utf8.png
Modulo1/_src/assets/00-IntroToCS/van-rossum.jpg
Modulo1/_src/assets/03-Numpy/numpy_array_shape.png
Modulo1/_src/assets/03-Numpy/numpy_array.png
Modulo1/_src/assets/03-Numpy/numpy_indexing.png
Modulo1/_src/assets/04-Pandas/estructuras-de-datos-en-Pandas.png
Modulo1/_src/assets/04-Pandas/formatos-dataframe.png
Modulo1/_src/assets/04-Pandas/pandas-dataframe.png
Modulo1/_src/assets/04-Pandas/pandas-grupos.png
Modulo1/_src/assets/05-Estructuras_Datos_1/ejemplo_cola.jpg
Modulo1/_src/assets/05-Estructuras_Datos_1/ejemplo_pila.jpg
Modulo1/_src/assets/06-Estructuras_Datos_2/doueblelist.png
Modulo1/_src/assets/06-Estructuras_Datos_2/hashfunction.png
Modulo1/_src/assets/06-Estructuras_Datos_2/listAdd.gif
Modulo1/_src/assets/06-Estructuras_Datos_2/listaRemove.gif
Modulo1/_src/assets/06-Estructuras_Datos_2/listaRemove.png
Modulo1/_src/assets/06-Estructuras_Datos_2/singlelist.png
Modulo1/_src/assets/07-Estructuras_Datos_3/avl.gif
Modulo1/_src/assets/07-Estructuras_Datos_3/Balanced_vs_unbalanced_BST.png
Modulo1/_src/assets/07-Estructuras_Datos_3/binaryArray.png
Modulo1/_src/assets/07-Estructuras_Datos_3/binaryTree.png
Modulo1/_src/assets/07-Estructuras_Datos_3/dom_tree.gif
Modulo1/_src/assets/07-Estructuras_Datos_3/heap.png
Modulo1/_src/assets/07-Estructuras_Datos_3/notatree1.png
Modulo1/_src/assets/07-Estructuras_Datos_3/notatree2.png
Modulo1/_src/assets/08-Algoritmos_1/abejita.jpg
Modulo1/_src/assets/08-Algoritmos_1/asintotica.png
Modulo1/_src/assets/08-Algoritmos_1/bigo.png
Modulo1/_src/assets/08-Algoritmos_1/bubblesort.gif
Modulo1/_src/assets/08-Algoritmos_1/insertion.gif
Modulo1/_src/assets/08-Algoritmos_1/insertionbest.gif
Modulo1/_src/assets/08-Algoritmos_1/nnn.png
Modulo1/_src/assets/08-Algoritmos_1/selection.gif
Modulo1/_src/assets/08-Algoritmos_1/tablasegundo.png
Modulo1/_src/assets/08-Algoritmos_1/tablatiempo.png
Modulo1/_src/assets/09-Algoritmos_2/binarySearch.gif
Modulo1/_src/assets/09-Algoritmos_2/countsort.gif
Modulo1/_src/assets/09-Algoritmos_2/Dijkstra_ejemplo.jpg
Modulo1/_src/assets/09-Algoritmos_2/grafos_ciudad.jpg
Modulo1/_src/assets/09-Algoritmos_2/grafos_ejemplo.png
Modulo1/_src/assets/09-Algoritmos_2/grafos_matriz1.jpg
Modulo1/_src/assets/09-Algoritmos_2/grafos_matriz2.jpg
Modulo1/_src/assets/09-Algoritmos_2/grafos_matriz3.jpg
Modulo1/_src/assets/09-Algoritmos_2/grafos_twiter.jpg
Modulo1/_src/assets/09-Algoritmos_2/heapSort.gif
Modulo1/_src/assets/09-Algoritmos_2/mergesort.gif
Modulo1/_src/assets/09-Algoritmos_2/mergesortTime.png
Modulo1/_src/assets/09-Algoritmos_2/quicksortBest.png
Modulo1/_src/assets/09-Algoritmos_2/quicksortWorst.png
Modulo1/_src/assets/09-Algoritmos_2/radixsort.gif
Modulo1/_src/assets/09-Algoritmos_2/Sorting_quicksort_anim.gif
Modulo1/_src/data/config.json
Modulo1/_src/data/layout.js
Modulo1/_src/data/styles/code.js
Modulo1/_src/data/styles/fonts.js
Modulo1/_src/data/styles/footer.js
Modulo1/_src/data/styles/header.js
Modulo1/_src/data/styles/lesson.js
Modulo1/_src/data/styles/lessonIntro.js
Modulo1/_src/data/styles/main.js
Modulo1/_src/data/styles/responsive.js
Modulo1/_src/data/styles/sidebar.js
Modulo1/_src/data/styles/topbar.js
Modulo1/_src/layouts/intro.njk
Modulo1/_src/layouts/lesson.njk
Modulo2/Anderson.pdf
Modulo2/Estadística Inferencial.pdf
Modulo2/SQL Cheat Sheet.jpg
Modulo2/Checkpoint/Checkpoint_Create_Insert.sql
Modulo2/Checkpoint/Checkpoint_DER.jpg
Modulo2/Checkpoint/CP M2.ipynb
Modulo2/Checkpoint/Querys.sql
Modulo2/Checkpoint/tablas_cp/CanalDeVenta.csv
Modulo2/Checkpoint/tablas_cp/Producto.csv
Modulo2/Checkpoint/tablas_cp/Venta.csv
Modulo2/Clase 01/Clase 01.pdf
Modulo2/Clase 01/README.json
Modulo2/Clase 01/README.md
Modulo2/Clase 02/Clase 02 - M2.pdf
Modulo2/Clase 02/Homework resolucion clase02.ipynb
Modulo2/Clase 02/README.json
Modulo2/Clase 02/README.md
Modulo2/Clase 03/Clase 03 - M2.pdf
Modulo2/Clase 03/Homework Solucion.py
Modulo2/Clase 03/README.json
Modulo2/Clase 03/README.md
Modulo2/Clase 04/Clase 04 -M2.pdf
Modulo2/Clase 04/Homework_Resuelto.ipynb
Modulo2/Clase 04/Notas clase 4.ipynb
Modulo2/Clase 04/README.json
Modulo2/Clase 04/README.md
Modulo2/Clase 04/Tablas Distribución.pdf
Modulo2/Clase 05/bases_relacionales.JPG
Modulo2/Clase 05/Clase 05.pdf
Modulo2/Clase 05/README.json
Modulo2/Clase 05/README.md
Modulo2/Clase 06/Clase 06.pdf
Modulo2/Clase 06/ModeloHenry.jpg
Modulo2/Clase 06/README.md
Modulo2/Clase 06/registros_henry.sql
Modulo2/Clase 07/Clase 07.pdf
Modulo2/Clase 07/README.md
Modulo2/Clase 08/Clase 08.pdf
Modulo2/Clase 08/README.md
Modulo2/Clase 09/oferta_gastronomica.csv
Modulo2/Clase 09/Practica SQL Python.sql
Modulo2/Clase 09/Query_db_y_tabla.sql
Modulo2/_src/assets/1.png
Modulo2/_src/assets/2.png
Modulo2/_src/assets/autoscalculo.PNG
Modulo2/_src/assets/binom.png
Modulo2/_src/assets/binomberno.png
Modulo2/_src/assets/central.PNG
Modulo2/_src/assets/clasica.PNG
Modulo2/_src/assets/combi.PNG
Modulo2/_src/assets/conclusion.PNG
Modulo2/_src/assets/condicional.PNG
Modulo2/_src/assets/curtosis.PNG
Modulo2/_src/assets/desvioest.PNG
Modulo2/_src/assets/dispersion.PNG
Modulo2/_src/assets/distr.PNG
Modulo2/_src/assets/distributionprob.png
Modulo2/_src/assets/doscolas.png
Modulo2/_src/assets/ejercicio3.PNG
Modulo2/_src/assets/ER.PNG
Modulo2/_src/assets/estadistica.PNG
Modulo2/_src/assets/estadistico.PNG
Modulo2/_src/assets/estandar.PNG
Modulo2/_src/assets/excluyentes.PNG
Modulo2/_src/assets/expeprob.PNG
Modulo2/_src/assets/FormulaHipergeometrica.png
Modulo2/_src/assets/frecuencias.PNG
Modulo2/_src/assets/funcionbinomial.PNG
Modulo2/_src/assets/funcionnormal.PNG
Modulo2/_src/assets/geom.PNG
Modulo2/_src/assets/hipotesis.PNG
Modulo2/_src/assets/hipotesprueba.PNG
Modulo2/_src/assets/histograma.PNG
Modulo2/_src/assets/histopy.PNG
Modulo2/_src/assets/IC.png
Modulo2/_src/assets/inter.PNG
Modulo2/_src/assets/media.PNG
Modulo2/_src/assets/media2.PNG
Modulo2/_src/assets/mediana.PNG
Modulo2/_src/assets/modprob.PNG
Modulo2/_src/assets/multipli.PNG
Modulo2/_src/assets/normalareas.PNG
Modulo2/_src/assets/permu.PNG
Modulo2/_src/assets/PHP.png
Modulo2/_src/assets/pk-fk.png
Modulo2/_src/assets/pobmuestra.PNG
Modulo2/_src/assets/poisson.PNG
Modulo2/_src/assets/policia.PNG
Modulo2/_src/assets/policia2.PNG
Modulo2/_src/assets/pond.PNG
Modulo2/_src/assets/prob.PNG
Modulo2/_src/assets/probdist.PNG
Modulo2/_src/assets/probdist2.PNG
Modulo2/_src/assets/probhenry.PNG
Modulo2/_src/assets/proyectoprob.PNG
Modulo2/_src/assets/proyectoprob2.PNG
Modulo2/_src/assets/prueba2.PNG
Modulo2/_src/assets/pruebahip.PNG
Modulo2/_src/assets/relaciones.png
Modulo2/_src/assets/resulexp.PNG
Modulo2/_src/assets/rumiacion1.webp
Modulo2/_src/assets/seguro.PNG
Modulo2/_src/assets/sesgo.PNG
Modulo2/_src/assets/sesgoscurva.PNG
Modulo2/_src/assets/siginifica.PNG
Modulo2/_src/assets/simetrica.PNG
Modulo2/_src/assets/SQL.PNG
Modulo2/_src/assets/sucesos.PNG
Modulo2/_src/assets/t.PNG
Modulo2/_src/assets/tablaautos.PNG
Modulo2/_src/assets/tablaest.PNG
Modulo2/_src/assets/unacola.jpg
Modulo2/_src/assets/union.PNG
Modulo2/_src/assets/Valle-de-la-muerte-clientes-startup.webp
Modulo2/_src/assets/vardisc.PNG
Modulo2/_src/assets/vardisc1.PNG
Modulo2/_src/assets/variacion.PNG
Modulo2/_src/assets/varianza.PNG
Modulo2/_src/assets/Venn.PNG
Modulo2/_src/assets/z.PNG
Modulo2/_src/data/config.json
Modulo2/_src/data/layout.js
Modulo2/_src/data/styles/code.js
Modulo2/_src/data/styles/fonts.js
Modulo2/_src/data/styles/footer.js
Modulo2/_src/data/styles/header.js
Modulo2/_src/data/styles/lesson.js
Modulo2/_src/data/styles/lessonIntro.js
Modulo2/_src/data/styles/main.js
Modulo2/_src/data/styles/responsive.js
Modulo2/_src/data/styles/sidebar.js
Modulo2/_src/data/styles/topbar.js
Modulo2/_src/layouts/intro.njk
Modulo2/_src/layouts/lesson.njk
Modulo3/Checkpoint/Checkpoint_Create_Insert.sql
Modulo3/Checkpoint/Checkpoint.md
Modulo3/Checkpoint/Comisiones Córdoba Centro.xlsx
Modulo3/Checkpoint/Comisiones Córdoba Cerro de las Rosas.xlsx
Modulo3/Checkpoint/Comisiones Córdoba Quiróz.xlsx
Modulo3/Checkpoint/DER.jpg
Modulo3/Checkpoint/Resolucion_CP.sql
Modulo3/Clase 01/Clase 01 - M3.pdf
Modulo3/Clase 01/homework_clase_01_resuelto.sql
Modulo3/Clase 01/README.json
Modulo3/Clase 01/README.md
Modulo3/Clase 01/Homework/CanalDeVenta.csv
Modulo3/Clase 01/Homework/CanalDeVenta.xlsx
Modulo3/Clase 01/Homework/Clientes.csv
Modulo3/Clase 01/Homework/Compra.csv
Modulo3/Clase 01/Homework/Empleados.csv
Modulo3/Clase 01/Homework/Empleados.xls
Modulo3/Clase 01/Homework/Gasto.csv
Modulo3/Clase 01/Homework/Productos.csv
Modulo3/Clase 01/Homework/PRODUCTOS.xlsx
Modulo3/Clase 01/Homework/Proveedores.csv
Modulo3/Clase 01/Homework/Proveedores.xlsx
Modulo3/Clase 01/Homework/Sucursales.csv
Modulo3/Clase 01/Homework/TiposDeGasto.csv
Modulo3/Clase 01/Homework/Venta.csv
Modulo3/Clase 02/Clase 02 - M3.pdf
Modulo3/Clase 02/homework_clase_02_resuelto.sql
Modulo3/Clase 02/README.json
Modulo3/Clase 02/README.md
Modulo3/Clase 03/Clase 03 - M3.pdf
Modulo3/Clase 03/homework_clase_03_resuelto.sql
Modulo3/Clase 03/README.json
Modulo3/Clase 03/README.md
Modulo3/Clase 04/Clase 04 - M3.pdf
Modulo3/Clase 04/homework_clase_04_resuelto.sql
Modulo3/Clase 04/README.json
Modulo3/Clase 04/README.md
Modulo3/Clase 05/clase_05.pdf
Modulo3/Clase 05/README.md
Modulo3/Clase 06/clase_06.pdf
Modulo3/Clase 06/homework_clase_06_resuelto.sql
Modulo3/Clase 06/Procedimiento vs Función.jpeg
Modulo3/Clase 06/README.md
Modulo3/Clase 07/clase_07.pdf
Modulo3/Clase 07/homework_clase_07_resuelto.sql
Modulo3/Clase 07/README.md
Modulo3/Clase 08/clase_08.pdf
Modulo3/Clase 08/Homework_asignado.sql
Modulo3/Clase 08/homework_clase_08_resuelto.sql
Modulo3/Clase 08/README.md
Modulo3/_src/assets/1.png
Modulo3/_src/assets/2.png
Modulo3/_src/assets/accesibilidad.jpg
Modulo3/_src/assets/actualizacion.jpg
Modulo3/_src/assets/auditoria.PNG
Modulo3/_src/assets/cap.PNG
Modulo3/_src/assets/CAP2.PNG
Modulo3/_src/assets/carga.jpg
Modulo3/_src/assets/completitud.jpg
Modulo3/_src/assets/conocimiento.jpg
Modulo3/_src/assets/consistencia.jpg
Modulo3/_src/assets/COPO.PNG
Modulo3/_src/assets/COPO2.PNG
Modulo3/_src/assets/datos_info_conoc.jpg
Modulo3/_src/assets/datos.jpg
Modulo3/_src/assets/decision.jpg
Modulo3/_src/assets/diagrama_caja.jpg
Modulo3/_src/assets/DROPINDEX.PNG
Modulo3/_src/assets/ecosistema.jpg
Modulo3/_src/assets/errores.PNG
Modulo3/_src/assets/ESTRELLA.PNG
Modulo3/_src/assets/fiabilidad.jpg
Modulo3/_src/assets/FN1.PNG
Modulo3/_src/assets/FN2.PNG
Modulo3/_src/assets/FN3.PNG
Modulo3/_src/assets/FN4.PNG
Modulo3/_src/assets/FN5.PNG
Modulo3/_src/assets/FN12.PNG
Modulo3/_src/assets/FN21.PNG
Modulo3/_src/assets/FN31.PNG
Modulo3/_src/assets/FN41.PNG
Modulo3/_src/assets/FN51.PNG
Modulo3/_src/assets/hechos_dimensiones.jpg
Modulo3/_src/assets/IN.PNG
Modulo3/_src/assets/indexejemplo.PNG
Modulo3/_src/assets/indexpp.PNG
Modulo3/_src/assets/indexpp2.PNG
Modulo3/_src/assets/indextable.PNG
Modulo3/_src/assets/informacion.jpg
Modulo3/_src/assets/integracion.jpg
Modulo3/_src/assets/limpieza.jpg
Modulo3/_src/assets/modelado.jpg
Modulo3/_src/assets/normalizacion.jpg
Modulo3/_src/assets/OR.PNG
Modulo3/_src/assets/outliers_tope.jpg
Modulo3/_src/assets/outliers1.jpg
Modulo3/_src/assets/outliers2.jpg
Modulo3/_src/assets/outliers3.jpg
Modulo3/_src/assets/query.PNG
Modulo3/_src/assets/reportes.jpg
Modulo3/_src/assets/sqljoin.jpeg
Modulo3/_src/assets/TE.PNG
Modulo3/_src/assets/transformacion.jpg
Modulo3/_src/assets/tres_sigmas.jpg
Modulo3/_src/assets/valores_faltantes.jpg
Modulo3/_src/assets/vista.PNG
Modulo3/_src/data/config.json
Modulo3/_src/data/layout.js
Modulo3/_src/data/styles/code.js
Modulo3/_src/data/styles/fonts.js
Modulo3/_src/data/styles/footer.js
Modulo3/_src/data/styles/header.js
Modulo3/_src/data/styles/lesson.js
Modulo3/_src/data/styles/lessonIntro.js
Modulo3/_src/data/styles/main.js
Modulo3/_src/data/styles/responsive.js
Modulo3/_src/data/styles/sidebar.js
Modulo3/_src/data/styles/topbar.js
Modulo3/_src/layouts/intro.njk
Modulo3/_src/layouts/lesson.njk
Modulo4/Install Hive from scratch.md
Modulo4/pyspark.ipynb
Modulo4/terminal-cheatsheet-terminaldelinux.com.pdf
Modulo4/CP/CP_4
Modulo4/Clase 01/README.json
Modulo4/Clase 01/README.md
Modulo4/Clase 02/Docker.pdf
Modulo4/Clase 02/README.json
Modulo4/Clase 02/README.md
Modulo4/Clase 03/README.json
Modulo4/Clase 03/README.md
Modulo4/Clase 03/Homework/Clase-03.json
Modulo4/Clase 03/Homework/data/apachelogs/common_access_log.txt
Modulo4/Clase 03/Homework/data/bikeshare/stations/austin_bikeshare_stations.csv
Modulo4/Clase 03/Homework/data/bikeshare/trips/austin_bikeshare_trips1.csv
Modulo4/Clase 03/Homework/data/bikeshare/trips/austin_bikeshare_trips2.csv
Modulo4/Clase 03/Homework/data/bikeshare/trips/carga_trips.hql
Modulo4/Clase 03/Homework/data/flights/airports/airports.csv
Modulo4/Clase 03/Homework/data/flights/flightdelays/flight_delays1.csv
Modulo4/Clase 03/Homework/data/flights/flightdelays/flight_delays2.csv
Modulo4/Clase 03/Homework/data/flights/flightdelays/flight_delays3.csv
Modulo4/Clase 04/Big Data file formats - Blog _ luminousmen_files.zip
Modulo4/Clase 04/README.json
Modulo4/Clase 04/README.md
Modulo4/Clase 04/Homework/Clase-04.json
Modulo4/Clase 04/Homework/data/avro/schema/user.avsc
Modulo4/Clase 04/Homework/data/avro/users/users.avro
Modulo4/Clase 04/Homework/data/json/data.json
Modulo4/Clase 04/Homework/data/parquet_avro/schema/venta.avsc
Modulo4/Clase 04/Homework/data/parquet_avro/schema/venta.avsc.bak
Modulo4/Clase 04/Homework/data/parquet_avro/ventas/ventas.csv
Modulo4/Clase 04/Homework/data/parquet_avro/ventas/ventas.xlsx
Modulo4/Clase 05/Neo4j_Graph_Algorithms_r3.pdf
Modulo4/Clase 05/README.json
Modulo4/Clase 05/README.md
Modulo4/Clase 05/Homework/clase-05.sql
Modulo4/Clase 06/README.json
Modulo4/Clase 06/README.md
Modulo4/Clase 06/Homework/cliente.csv
Modulo4/Clase 06/Homework/ejemploNeo4J.txt
Modulo4/Clase 06/Homework/Neo4j_Graph_Algorithms_r3.pdf
Modulo4/Clase 06/Homework/producto.csv
Modulo4/Clase 06/Homework/tipo_producto.csv
Modulo4/Clase 06/Homework/training.cql
Modulo4/Clase 06/Homework/venta.csv
Modulo4/Clase 06/mongo/centros.csv
Modulo4/Clase 06/mongo/equivalencias.JPG
Modulo4/Clase 06/mongo/instructivo.txt
Modulo4/Clase 06/mongo/JSON - Mongo.py
Modulo4/Clase 06/mongo/tarea_mongo.txt
Modulo4/Clase 06/mongo/tarea_resuelta.ipynb
Modulo4/Clase 06/mongo/test.json
Modulo4/Clase 07/Dataframes (Python).ipynb
Modulo4/Clase 07/README.json
Modulo4/Clase 07/README.md
Modulo4/Clase 08/Configuracion Docker Clase 8.txt
Modulo4/Clase 08/README.json
Modulo4/Clase 08/README.md
Modulo4/_src/assets/1.png
Modulo4/_src/assets/2.png
Modulo4/_src/assets/ACIDvsBASE.jpg
Modulo4/_src/assets/Airflow.jpg
Modulo4/_src/assets/Airflow2.jpg
Modulo4/_src/assets/Arquitectura_Kafka.jpg
Modulo4/_src/assets/Arquitectura_Spark-Hadoop.jpg
Modulo4/_src/assets/Arquitectura_Spark.jpg
Modulo4/_src/assets/Arquitectura.jpg
Modulo4/_src/assets/AVRO.jpg
Modulo4/_src/assets/Batch.jpg
Modulo4/_src/assets/BigData.jpg
Modulo4/_src/assets/CasosDeUso.jpg
Modulo4/_src/assets/Cassandra.jpg
Modulo4/_src/assets/Cassandra.png
Modulo4/_src/assets/Catalyst_Optimizer.jpg
Modulo4/_src/assets/Cluster_Hadoop.jpg
Modulo4/_src/assets/community_edition.png
Modulo4/_src/assets/Componentes_Docker.jpg
Modulo4/_src/assets/Compression.jpg
Modulo4/_src/assets/Consistencia.jpg
Modulo4/_src/assets/Contenedor.jpg
Modulo4/_src/assets/CRON.jpg
Modulo4/_src/assets/CSV.jpg
Modulo4/_src/assets/DAG.jpg
Modulo4/_src/assets/DAG2.jpg
Modulo4/_src/assets/Databricks_1.jpg
Modulo4/_src/assets/Databricks_2.jpg
Modulo4/_src/assets/Databricks_3.jpg
Modulo4/_src/assets/Databricks_4.jpg
Modulo4/_src/assets/DataLake.jpg
Modulo4/_src/assets/Disponibilidad.jpg
Modulo4/_src/assets/Docker_Imagen.jpg
Modulo4/_src/assets/Docker.jpg
Modulo4/_src/assets/Docker2.jpg
Modulo4/_src/assets/DynamoDB.jpg
Modulo4/_src/assets/Ecosistema_Hadoop.jpg
Modulo4/_src/assets/Ejemplo_MapReduce.jpg
Modulo4/_src/assets/Ejemplo_YARN.jpg
Modulo4/_src/assets/Entorno_Spark.jpg
Modulo4/_src/assets/Escritura_HDFS.jpg
Modulo4/_src/assets/EstrategiaProcesamiento.jpg
Modulo4/_src/assets/Flink_1.jpg
Modulo4/_src/assets/Flink_2.jpg
Modulo4/_src/assets/Flink_3.jpg
Modulo4/_src/assets/Flink_4.jpg
Modulo4/_src/assets/Flink_5.jpg
Modulo4/_src/assets/Flink_6.jpg
Modulo4/_src/assets/Formatos_Almacenamiento.jpg
Modulo4/_src/assets/Formatos_Almacenamiento2.jpg
Modulo4/_src/assets/Frameworks_Hadoop.jpg
Modulo4/_src/assets/Governanza.jpg
Modulo4/_src/assets/Hadoop_Nodes.jpg
Modulo4/_src/assets/HDFS.jpg
Modulo4/_src/assets/Hive_Ejemplo.jpg
Modulo4/_src/assets/Hive_Particiones.jpg
Modulo4/_src/assets/Hive.jpg
Modulo4/_src/assets/JSON.jpg
Modulo4/_src/assets/LaEraDeLosDatos.jpg
Modulo4/_src/assets/Lambda_Capas.jpg
Modulo4/_src/assets/Lambda_Tecnologias.jpg
Modulo4/_src/assets/MapReduce_Spark.jpg
Modulo4/_src/assets/Maquina_Virtual.jpg
Modulo4/_src/assets/Modulos_Spark.jpg
Modulo4/_src/assets/MongoDB.jpg
Modulo4/_src/assets/Neo4J.jpg
Modulo4/_src/assets/Nifi.jpg
Modulo4/_src/assets/NoSQL_Ejemplos.jpg
Modulo4/_src/assets/NoSQL.jpg
Modulo4/_src/assets/Oozie.jpg
Modulo4/_src/assets/Operaciones_RDD.jpg
Modulo4/_src/assets/Parquet_Snappy.jpg
Modulo4/_src/assets/PARQUET.jpg
Modulo4/_src/assets/PgAdmin_01.jpg
Modulo4/_src/assets/PgAdmin_02.jpg
Modulo4/_src/assets/PgAdmin_03.jpg
Modulo4/_src/assets/PgAdmin_04.jpg
Modulo4/_src/assets/PgAdmin_05.jpg
Modulo4/_src/assets/Practica_Cassandra_01.jpg
Modulo4/_src/assets/Practica_Cassandra_02.jpg
Modulo4/_src/assets/Practica_Hive_01.jpg
Modulo4/_src/assets/Practica_Hive_02.jpg
Modulo4/_src/assets/Practica_Hive_03.jpg
Modulo4/_src/assets/Practica_Hive_04.jpg
Modulo4/_src/assets/Practica_Hive_05.jpg
Modulo4/_src/assets/Practica_Hive_06.jpg
Modulo4/_src/assets/Practica_Hive_07.jpg
Modulo4/_src/assets/Practica_Hive.jpg
Modulo4/_src/assets/Practica_MongoDB_01.jpg
Modulo4/_src/assets/Practica_MongoDB_02.jpg
Modulo4/_src/assets/Practica_Neo4J_01.jpg
Modulo4/_src/assets/Practica_Neo4J_02.jpg
Modulo4/_src/assets/Resumen.jpg
Modulo4/_src/assets/RowVsColumn.jpg
Modulo4/_src/assets/Schema_Evolution.jpg
Modulo4/_src/assets/Spark_Cluster.jpg
Modulo4/_src/assets/Spark_DataFrame.jpg
Modulo4/_src/assets/Spark_DataSet.jpg
Modulo4/_src/assets/Spark_RDD.jpg
Modulo4/_src/assets/Spark_Streaming.jpg
Modulo4/_src/assets/Spark.jpg
Modulo4/_src/assets/SQL.jpg
Modulo4/_src/assets/Strctured_Streaming.jpg
Modulo4/_src/assets/Streaming.jpg
Modulo4/_src/assets/Tecnologías_BigData.jpg
Modulo4/_src/assets/Teorema_CAP.jpg
Modulo4/_src/assets/Teorema_CAP2.jpg
Modulo4/_src/assets/Workflows.jpg
Modulo4/_src/assets/YARN.jpg
Modulo4/_src/data/config.json
Modulo4/_src/data/layout.js
Modulo4/_src/data/styles/code.js
Modulo4/_src/data/styles/fonts.js
Modulo4/_src/data/styles/footer.js
Modulo4/_src/data/styles/header.js
Modulo4/_src/data/styles/lesson.js
Modulo4/_src/data/styles/lessonIntro.js
Modulo4/_src/data/styles/main.js
Modulo4/_src/data/styles/responsive.js
Modulo4/_src/data/styles/sidebar.js
Modulo4/_src/data/styles/topbar.js
Modulo4/_src/layouts/intro.njk
Modulo4/_src/layouts/lesson.njk
